body {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    background-color: wheat;
}

.nav-h1 {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;

}