.sendTransactionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.gap {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    color: wheat;

}

form {
    background-color: rgba(0, 0, 0, 0.754);
    border: solid 2px purple;
    box-shadow: rgb(6, 0, 6) 0px 3px 5px;
    border-radius: 1rem;
}