body {
    background-image: url('./src/assets/BackGround.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    color: white;

}

button {
    padding: 0.5rem;
    margin: 3px;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    width: 20%;
    background: black;
}