.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.503);
    z-index: 1000;
    color: white;
}

.theWrapper {
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100vw;
}

figure {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // justify-content: flex-start;
    left: 0;
    margin: 0;
    padding: 0;
    width: 12rem;
    height: 100%;
}

.logo img {

    border-radius: 50%;
    object-fit: cover;
}


.title {
    position: absolute;
    margin-right: 2.8rem;
}

nav ul {
    position: absolute;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.regText h2 {
    margin-bottom: 2rem;
}

.regText {
    color: white;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    padding: 1rem;
}

.registerForm input {
    padding: 0.5rem;
    margin: 3px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color: rgba($color: #022032, $alpha: 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.registerFormWrapper {
    color: white;
}

.register {

    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: white;

}


.registerForm input::placeholder {
    color: rgba($color: #fffffffd, $alpha: 0.9)
}


nav a {
    text-decoration: none;
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
}

nav a.active {
    color: #007bff;
}

.wrapper {
    padding-top: 100px;

}

.arrow-down {
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-10px);
    }

    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

.registerButton {
    position: relative;
    // background-color: rgba($color: #030034, $alpha: 0.4);
    background-color: rgba($color: #022032, $alpha: 0.2);
    color: white;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.loginButton {
    // background-color: rgba($color: #030034, $alpha: 0.4);
    background-color: rgba($color: #022032, $alpha: 0.2);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}