.mineWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}


.transactionForm button {

    position: relative;
    display: flex;
    left: 38%;
    align-items: center;
    justify-content: center;
}